body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #c5c9df;
  color: #141a41;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
.title {
  margin-bottom: 2em;
}
.title_job {
  padding-top: 10px;
  font-weight: normal;
  letter-spacing: 2px;
}
button {
  background-color: #141a41;
  color: #fff;
  border: 0;
  padding: 0.5em 5em;
  border-radius: 15px;
  cursor: pointer;
  z-index: 1;
  margin-right: 1em;
  font-weight: bold;
}
img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 2em;
}
.card {
  width: 50%;
  max-width: 800px;
  padding: 4em 2em;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(
    139.03deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0) 101.67%,
    #cbcaff 101.67%
  );
  mix-blend-mode: normal;
  border-radius: 24px;
  position: relative;
  z-index: 1000;
}

.card_testimonial {
  text-align: center;
  margin: 2em 0;
}
.arrowButtons {
  margin-bottom: 1em;
}
.circle_shape {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  z-index: 0;
}
.circle_1 {
  background: rgba(94, 255, 197, 0.6);
  position: absolute;
  bottom: 0;
  left: 0;
  filter: blur(120px);
}
.circle_2 {
  background: rgba(94, 148, 255, 0.6);
  filter: blur(114px);
  position: absolute;
  top: 10%;
  right: 5%;
}
.card_footer {
  z-index: 1;
}
